<div class="titlebar">
  <div class="page-info">
    評価項目の管理    
  </div> 
</div>

<div class="ratings_container">
  <!-- 新規作成用フォーム -->
  <h3 class="form__title">項目を作成する</h3>
  <%= form_with model: @rating, url: ratings_path, local: true, class: "new_rating_form" do |f| %>
    <%= f.text_field :rating_name, placeholder:"新規項目名を入力する" %>
    <%= f.submit "Create Rating" %>
  <% end %>

  <hr>

  <!-- 既存のRating一覧 -->

  <h3 class="form__title">作成した項目を編集・削除する</h3>
  <ul class="ratings">
    <% @ratings.each do |rating| %>
      <li class="rating_edit">
        <%= form_with model: rating, local: true, class: "rating_edit_form" do |f| %>
          <%= f.text_field :rating_name, value: rating.rating_name %>
          <%= f.submit "Update" %>
        <% end %>

        <%= button_to "Delete", rating_path(rating.id), method: :delete, data: { turbo_method: :delete }, class:"delete_button" %>
      </li>
    <% end %>
  </ul>
</div>